$palette-name: 'Pastel-10'
$palette-color1: #66c5cc;
$palette-color2: #f6cf71;
$palette-color3: #f89c74;
$palette-color4: #dcb0f2;
$palette-color5: #87c55f;
$palette-color6: #9eb9f3;
$palette-color7: #fe88b1;
$palette-color8: #c9db74;
$palette-color9: #8be0a4;
$palette-color10: #b497e7;
$palette-color11: #b3b3b3;